@charset "UTF-8";
/* CSS Document */

/*reset jp*/
.box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
*, p, a {
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
}
a:focus {
  outline:none;
}

.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}
.ceropacidad {
	opacity:0;
}

header {
	background:url(img/back-body.png) repeat fixed;
	padding:8px 0px;
	
}
header img{
	width:4%;
}
.img-post img{
	max-width:100%;
}
ul.slides li {
	margin:10px 0px;
}
section.titulo {
	padding:10px 20px;
	background:#ededed;
	border-radius:12px;
	margin:30px 0 10px 0;
}